<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Insyallah_buat_besok.Properties.Settings.MediaConnectionString"
            connectionString="Data Source=NIO-PC\SQLEXPRESS;Initial Catalog=Media;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>